@model IEnumerable<CustomerApp.Customer>

@{
    ViewBag.Title = "Index";

}
<p>
    @Html.ActionLink("Add Customer", "Create", null, new { @class = "btn btn-primary btn-lg1" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            Action (Edit)
         </th>
        <th> Action (Delete)  </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Address)
        </td>
        
        <td>
           @Html.ActionLink("Edit", "Edit", new { id = item.Id },new{ @style = "background:url('~/Content/images/icons8-edit-50.png')" })
        </td>
          <td>   @Html.ActionLink("Delete", "Delete", new { id=item.Id , @style = "background-image:url('~/Content/images/Delete.png')" })
        </td>
    </tr>
}

</table>
