@model IEnumerable<CustomerApp.Product>

@{
    ViewBag.Title = "Index";
}


<p>
    @Html.ActionLink("Create Product", "Create", null, new { @class = "btn btn-primary btn-lg1" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>

        <th>Action (Edit)</th>
        <th>Action (Delete)</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) </td>
          
         <td>   @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
